{{ define "main" }}
<!-- start -->

<div class="container py-5">
	<div class="row justify-content-center">
		<div class="col-11 col-md-8 col-lg-6 pb-5">
			
			<!-- Hero header  -->
			<h3 style="text-align: center;">
				Hey! I'm Anthony Ngo 👋
			<h3>

			<!-- Hero sub-heading  -->
			<h5 style="text-align: center;">
				I'm a software developer focused on delivering solutions for large organizations, small-businesses, and individuals through technology
				<br>
				<br>
				Currently developing UI @ Aptive Education
				<br>
				<br>
				Here are some of my projects
			</h5>
		</div>
	</div>

	<!-- Project cards  -->
	<div class="row gy-2 gx-2">
		{{ $p := (where site.RegularPages "Type" "projects").ByPublishDate.Reverse }}
		{{ range (.Paginate $p).Pages }}
			<div class="col-12 col-lg-6"> 	
				<!-- <a href="{{ .RelPermalink }}" class="text-body"> -->
				<a href="{{ .Params.link }}" class="text-body" target="_blank">
					<div class="overlay-container ratio ratio-1x1">
						<img src="{{.Params.featuredImage}}" alt="{{.Title}}" style="object-fit: cover; object-position: center; border-radius: 5px;">
						<div class="overlay w-100">
							<div class="overlay-text">
							<h3 class="text-dark">
								{{.Title}}
							</h3>
							<p>{{ .Content}}</p>
							</div>
						</div>
					</div>
				</a>
			</div>		
		{{ end }}
		<!-- {{ template "_internal/pagination.html" . }} -->
	</div>
</div>

<!-- end  -->
{{end}}